# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Build artifacts
_build/
deps/
packages/*/_build/
packages/*/deps/
packages/*/build/
native/hegel_nif/target/
.hegel/
*.beam
